numba
colour-science
rembg
pixeloe
transparent-background
GitPython
PyGithub
matrix-nio
transformers
huggingface-hub>0.20
typer
rich
typing-extensions
toml
uv
chardet
segment-anything
scikit-image
piexif
opencv-python-headless
scipy
numpy
dill
matplotlib
git+https://github.com/facebookresearch/sam2
diffusers
accelerate
clip_interrogator>=0.6.0
lark
onnxruntime
sentencepiece
spandrel
peft
pillow>=10.3.0
color-matcher
huggingface_hub
mss
albumentations>=1.4.16
insightface==0.7.3
onnx>=1.14.0
opencv-python>=4.7.0.72
numpy==1.26.4
segment_anything
ultralytics
cmake
fairscale>=0.4.4
git+https://github.com/ltdrdata/img2texture.git
git+https://github.com/ltdrdata/cstr
imageio
joblib
numba>=0.62
opencv-python-headless[ffmpeg]
pilgram
git+https://github.com/ltdrdata/ffmpy.git
scikit-image>=0.20.0
scikit-learn
timm>=0.4.12
tqdm
cairosvg
pillow
torch
torchvision
opencv-python
